:root {--t1: #1f3038;
  --t2: #2c3e50;
  --t3: #086197;
  --t4: #c6eeff;
  --t5: #e2f6ff;
  --t6: #ffffff;}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--t5);
    font-family: "Malgun Gothic", Arial, sans-serif;
  }
  
  .container {
    width: 90%;
    height: 70%;
    padding: 16px;
    margin: 8px;
    background-color: var(--t6);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--t4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #diaryContent {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    margin-bottom: 20px;
    border: none;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.2rem;
  }

  #diaryButtonContainer {
    width: 100%;
    flex: 1;

  }
  
  .btn-detail {
    width: 28%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  #diaryList {
    margin-top: 20px;
    background-color: beige;
  }
  
  .diary-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }