<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body style="font-family: 'Malgun Gothic', Arial, sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <button class="btn" onclick="location.href='/'">
                    <i class="bi bi-arrow-left"></i>
                </button>
                <a class="navbar-brand" href="#">일기 목록</a>
            </div>
        </div>
        
    </nav>
    <div class="container p-3 p-md-6" style="margin-top: 40px">

        {% for log in logs %}

        <div class="card m-2" id="log-card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="">{{log[7][:10]}} {{log[7][11:16]}}</div>
                    <button class="btn btn-close btn-group-sm" data-bs-toggle="modal" data-bs-target="#cardModal" data-id="{{log[0]}}" onclick=take_over_id(this)></button>
                </div>
                
            </div>
            <div class="card-body">
                
                <h6 class="card-text mx-auto">{{log[1]}}</h6>
                
            </div>
            
        </div>

        {% endfor %}

    </div>


    <!-- 모달 모듈 구현부 -->
    <div class="modal fade" id="cardModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalLabel">일기를 삭제하시겠습니까?</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>삭제된 일기와 점수는 복구할 수 없습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete-btn" onclick=delete_log(this)>삭제</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    


     

    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{url_for('static', filename = 'js/browse.js')}}"></script>
</body>
</html>